.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

agm-map {
  height: 100vh;
}

.input-container {
  position: absolute;
  top: 45px;
  left: 5vw;
  ion-item {
    box-shadow: 2px 3px 3px #b3b3b3;
    width: 90vw;
    margin-bottom: 16px;
    ion-label {
      font-size: 17px;
      color: rgb(95, 95, 95)
    }
  }
}