.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

agm-map {
  height: 90vh;
}

.input-container {
  position: absolute;
  top: 45px;
  left: 5vw;
  box-shadow: 2px 3px 3px #b3b3b3;
  ion-item {
    width: 90vw;
  }
}