<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Select Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label><b>2 states Book</b></ion-label>
      <ion-button fill="outline" slot="end">Continue</ion-button>
    </ion-item>

    <ion-card-content>
      <span> Transport: <b>Metro + Train</b> </span>
      <br />
      <span> Cost: <b>INR 25.00</b> </span>
      <br />
      <span> Time: <b>45 Mins</b> </span>
      <br /><br />
      <span>
        Stops: <b>3 </b>
        <a href="">View Details</a>
      </span>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label><b>2 states Book</b></ion-label>
      <ion-button fill="outline" slot="end">Continue</ion-button>
    </ion-item>

    <ion-card-content>
      <span> Transport: <b>Metro + Train</b> </span>
      <br />
      <span> Cost: <b>INR 25.00</b> </span>
      <br />
      <span> Time: <b>45 Mins</b> </span>
      <br /><br />
      <span>
        Stops: <b>3 </b>
        <a href="">View Details</a>
      </span>
    </ion-card-content>
  </ion-card>
</ion-content>
