span {
  font-size: 16px;
  color: rgb(82, 81, 81);
  margin-left: 5px;
  margin-top: 10px
}

ion-label {
  margin-left: 5px
}

.view {
  top: 10px
}

.dot {
  height: 10px;
  width: 10px;
  background-color: rgb(177, 21, 21);
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px
}
.drop-dot {
  background-color: rgb(31, 109, 57);
}
.fab-button {
  position: absolute;
  top: 30px;
  right: 10px  
}