<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Select Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="card">
        <span> Transport: <b>Metro + Train</b> </span>
        <br />
        <span> Cost: <b>INR 25.00</b> </span>
        <br />
        <span> Time: <b>45 Mins</b> </span>
        <br /><br />
        <span>
          Stops: <b>3 </b>
          <a href="">View Details</a>
        </span>
        <div class="fab-button">
          <ion-fab vertical="start" horizontal="end" edge slot="fixed">
            <ion-fab-button>
              <ion-icon name="checkmark"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <span> Transport: <b>Metro + Train</b> </span>
      <br />
      <span> Cost: <b>INR 25.00</b> </span>
      <br />
      <span> Time: <b>45 Mins</b> </span>
      <br /><br />
      <span>
        Stops: <b>3 </b>
        <a href="">View Details</a>
      </span>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-button expand="full" color="primary" (click)="goToPaymentDetailPage()">
        Continue
      </ion-button>
    </ion-toolbar>
  </ion-footer>